@font-face {
  font-family: "Droid Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: 
    local("Droid Sans"), 
    local("Droid-Sans"), 
    url("../fonts/droidsans.woff2") format("woff2"), 
    url("../fonts/droidsans.woff") format("woff");
}

@font-face {
  font-family: "Droid Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: 
    local("Droid Sans Bold"), 
    local("Droid-Sans-Bold"), 
    url("../fonts/droidsans-bold.woff2") format("woff2"), 
    url("../fonts/droidsans-bold.woff") format("woff");
}
