.gray-button {
  color: $white;
  background-color: $gray;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $dark-gray3;
  }

  &:active {
    background-color: $dark-gray5;
  }
}

.orange-button {
  color: $white;
  background-color: $orange;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $orange-hover;
  }

  &:active {
    background-color: $orange-click;
  }
}
